Repository XRFoundation/XREngine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @hanzlamateen, @aditya-mitra, @AidanCaruso, @speigg, @DanielBelmes, @heysokam, @dinomut1, @SYBIOTE, @CITIZENDOT, @MichaelEstes, @MbfloydIR, @SamMazerIR, @MoizAdnan, @muradkhateeb78, @hurairahmateen

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @hanzlamateen @aditya-mitra
/packages/client-core/ @barankyle @hanzlamateen @aditya-mitra @AidanCaruso
/packages/ecs/ @speigg @DanielBelmes @heysokam
/packages/editor/ @dinomut1 @aditya-mitra @SYBIOTE @AidanCaruso @CITIZENDOT
/packages/engine/ @speigg @DanielBelmes @AidanCaruso @MichaelEstes @dinomut1 @CITIZENDOT @heysokam @MbfloydIR @SamMazerIR
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/projects/ @barankyle
/packages/server/ @barankyle @MoizAdnan @hanzlamateen @muradkhateeb78 @hurairahmateen
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @muradkhateeb78 @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @DanielBelmes @AidanCaruso @MichaelEstes @dinomut1 @heysokam @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @DanielBelmes @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg


/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

Add more regex patterns
  packages/common/src/regex/index.ts
  packages/common/tests/regex.test.ts
  packages/server-core/src/projects/project/project-helper.ts
  packages/server-core/src/setting/helm-setting/helm-setting.ts
  packages/xrui/core/serialization/generateEmbeddedCSS.ts
  scripts/fetch-helm-versions.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @muradkhateeb78, @hurairahmateen, @aditya-mitra, @speigg, @DanielBelmes

debug
  packages/server-core/src/projects/project/project-helper.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @muradkhateeb78, @hurairahmateen, @aditya-mitra

debug
  packages/server-core/src/projects/project/project-helper.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @muradkhateeb78, @hurairahmateen, @aditya-mitra

debug
  packages/server-core/src/media/storageprovider/storageProviderUtils.ts
  packages/server-core/src/projects/project/project-helper.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @muradkhateeb78, @hurairahmateen, @aditya-mitra

debug
  packages/server-core/src/media/storageprovider/s3.storage.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @muradkhateeb78, @hurairahmateen, @aditya-mitra

debug
  packages/server-core/src/media/storageprovider/s3.storage.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @muradkhateeb78, @hurairahmateen, @aditya-mitra

Created node editor for the dynamic loaded componet
  packages/client-core/i18n/en/editor.json
  packages/editor/src/services/ComponentEditors.tsx
  packages/ui/src/components/editor/properties/sceneDynamicLoadTag/index.tsx
Owners: @barankyle, @hanzlamateen, @aditya-mitra, @AidanCaruso, @dinomut1, @SYBIOTE, @CITIZENDOT, @DanielBelmes

moved the setup code into a use effect on mount, and the teardown logic from the onRemove to the unmount
  packages/spatial/src/camera/components/CameraComponent.ts
Owners: @SamMazerIR, @DanielBelmes, @speigg

Update email regex to be more liberal to check TLDs (#10983)
  packages/common/src/regex/index.ts
  packages/common/tests/regex.test.ts
Owners: @HexaField

Updated schema of webRTCSettings.iceServers
  packages/client-core/src/admin/components/settings/tabs/instanceServer.tsx
  packages/client-core/src/admin/components/settings/url-item.tsx
  packages/common/src/constants/DefaultWebRTCSettings.ts
  packages/common/src/schemas/setting/instance-server-setting.schema.ts
  packages/server-core/src/setting/instance-server-setting/migrations/20240815232703_update-webrtc-settings-column.ts
Owners: @barankyle, @hanzlamateen, @aditya-mitra, @AidanCaruso, @HexaField, @MoizAdnan, @muradkhateeb78, @hurairahmateen

fixup
  packages/client-core/src/admin/components/settings/tabs/instanceServer.tsx
  packages/client-core/src/admin/components/settings/url-item.tsx
Owners: @barankyle, @hanzlamateen, @aditya-mitra, @AidanCaruso

fixup
  packages/client-core/i18n/en/admin.json
  packages/client-core/src/admin/components/settings/tabs/instanceServer.tsx
  packages/client-core/src/admin/components/settings/url-item.tsx
  packages/ui/src/primitives/tailwind/Checkbox/index.tsx
Owners: @barankyle, @hanzlamateen, @aditya-mitra, @AidanCaruso, @SYBIOTE, @DanielBelmes, @CITIZENDOT
